<header class="main-head">
    <ul class="main-heather__item-list">
        <li class="main-heather__item">
            <a href="/">Home</a>
        </li>
        <li class="main-heather__item">
            <a href="/add-article">Add Article</a>
        </li>
    </ul>
</header>